@model Entities.Concrete.AkademikYayin
@{
    ViewData["Title"] = "Web Scraping";
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makale Detayı</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Makale Detayı</h1>
    </header>

    <main>
        <article>
            <h2>@Model.Ad</h2>
            <p>@Model.ozet</p>

            <section>
                <h3>Detaylar</h3>
                <ul>
                    <li><strong>Yazarlar:</strong> @foreach(var x in Model.yazars)
                        {
                            
                            <p>@x.yazarAdSoyad</p>
                        }
                    </li>
                    <li><strong>Yayın Tarihi:</strong> @Model.yayinlanmaTarihi</li>
                    <li>
                        <strong>Yayıncı:</strong> @foreach (var x in Model.yayincilars)
                        {
                            <p>@x.yayinciAd</p>
                    }</li>
                    <!-- Diğer detaylar buraya eklenebilir -->
                </ul>
            </section>

            <section>
                <h3>Özet</h3>
                <p>@Model.ozet</p>
            </section>

            <section>
                <h3>Referanslar</h3>
                <ul>
                    @foreach(var x in Model.Referans)
                    {
                        <li>@x.referenceAd</li>
                    }
                    
                    
                </ul>
            </section>

            <section>
                <h3>Alıntı Sayısı</h3>
                <p>@Model.alintiSayisi</p>
            </section>

            <section>
                <h3>DOI Numarası</h3>
                <p></p>
            </section>

            <section>
                <h3>URL Adresi</h3>
                <p><a href="@Model.urlAdresi">@Model.urlAdresi</a></p>
            </section>
        </article>
    </main>

    
</body>
</html>
