@model List<Entities.Concrete.AkademikYayin>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	string searchValue = ViewBag.SearchValue ?? ""; // Arama değerini al, eğer null ise boş string yap
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Arama Sonuçları</title>
	<link rel="stylesheet" href="~/css/site.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>


	<main>

		<aside id="filters">
			<h2>Filtreler</h2>
			<form action="/Home/SearchResult" method="get">
				<input type="hidden" name="search" value="@searchValue">
				<label>
					Yayın Yılı:
					<input type="text" name="yearMin" placeholder="Min" maxlength="4" pattern="[0-9]{4}" value="@ViewBag.MinYearValue">
					<input type="text" name="yearMax" placeholder="Max" maxlength="4" pattern="[0-9]{4}" value="@ViewBag.MaxYearValue">
				</label>
				<br>
				<label>
					Yayın Türü:
					@if(ViewBag.YayinTurleri!=null){foreach (Entities.Concrete.YayinTuru tur in ViewBag.YayinTurleri)
					{
						<label>
							<input type="checkbox" name="selectedTypes" value="@tur.YayinTuruAd">@tur.YayinTuruAd
						</label>
					}}
				</label>
				<!-- Diğer filtreler buraya eklenebilir -->
				<br>
				<button type="submit">Filtrele</button>
			</form>
		</aside>


		<section id="searchResults">
			<h1>Arama Sonuçları</h1>
			<h2>Bulunan Makaleler:</h2>
			<ul>
				@foreach (var x in Model)
				{
					<li>
						<a href="/Home/Article?id=@x.Id">
							<h3>@x.Ad</h3>
						</a>
					</li>
					<p>@x.ozet</p>
				}
			</ul>
		</section>
	</main>
</body>
</html>
